integrations/n8n/amline-lead-visit-contract.json
{
  "name": "Amline lead → visit → contract",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amline-pipeline",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh-in",
      "name": "AmlineWebhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "amline-pipeline"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "crm.lead.created"
            }
          ]
        }
      },
      "id": "if-lead",
      "name": "IsLeadCreated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/visits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-User-Permissions", "value": "*" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ crm_lead_id: $json.payload.lead_id, listing_id: $json.payload.listing_id || null }) }}"
      },
      "id": "http-visit",
      "name": "CreateVisit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/contracts/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-User-Permissions", "value": "*" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contract_type: 'PROPERTY_RENT', party_type: 'INDIVIDUAL' }) }}"
      },
      "id": "http-contract",
      "name": "StartContractDraft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 200]
    }
  ],
  "connections": {
    "AmlineWebhook": {
      "main": [[{ "node": "IsLeadCreated", "type": "main", "index": 0 }]]
    },
    "IsLeadCreated": {
      "main": [
        [{ "node": "CreateVisit", "type": "main", "index": 0 }],
        []
      ]
    },
    "CreateVisit": {
      "main": [[{ "node": "StartContractDraft", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
